# Docker image to use for the lb
# LB_IMAGE=kuzzleio/dev

# If set, will mount the lb source from $LB_PATH directory
# LB_PATH=../../kuzzle-load-balancer

# DEBUG env var for the load balancer - Defaults to empty string (no debug)
# LB_DEBUG=kuzzle-proxy:load-balancer*

# Docker image to use for Kuzzle
# KUZ_IMAGE=kuzzleio/dev

# If set, will mount Kuzzle source from $KUZ_PATH directory
# KUZ_PATH=../../kuzzle

# DEBUG env var for debug module passed to Kuzzle - Default to empty string (no debug)
# KUZ_DEBUG=kuzzle:broker:*,kuzzle:cluster,kuzzle:cluster:*
