# Docker image to use for the lb
# LB_IMAGE=kuzzleio/proxy

# If set, will mount the lb source from $LB_PATH directory
# LB_PATH=../../kuzzle-proxy

# Docker image to use for Kuzzle
# KUZ_IMAGE=kuzzleio/dev:alpine

# If set, will mount Kuzzle source from $KUZ_PATH directory
# KUZ_PATH=../../kuzzle


