# Docker image to use for the lb
# LB_IMAGE=kuzzleio/dev

# If set, will mount the lb source from $LB_PATH directory
# LB_PATH=../../kuzzle-load-balancer

# Docker image to use for Kuzzle
# KUZ_IMAGE=kuzzleio/dev

# If set, will mount Kuzzle source from $KUZ_PATH directory
# KUZ_PATH=../../kuzzle
